<script>
	import Vue from 'vue'
		export default {
			onLaunch: function() {
				uni.getSystemInfo({
					success: function(e) {
						console.log('App Launch');
						
						Vue.prototype.ShowCustomBar = true;
						
						// #ifdef H5
						Vue.prototype.ShowCustomBar = false;	
						// #endif	
	
						// #ifndef APP-PLUS
							// console.log(e);
						// #endif
	
						// #ifndef MP
						Vue.prototype.StatusBar = e.statusBarHeight;
						if (e.platform == 'android') {
							Vue.prototype.CustomBar = e.statusBarHeight + 50;
						} else {
							Vue.prototype.CustomBar = e.statusBarHeight + 45;
						};
						// #endif
			
						// #ifdef MP-WEIXIN || MP-QQ
						Vue.prototype.StatusBar = e.statusBarHeight;
						let capsule = wx.getMenuButtonBoundingClientRect();
						if (capsule) {
							Vue.prototype.Custom = capsule;
							// Vue.prototype.capsuleSafe = uni.upx2px(750) - capsule.left + uni.upx2px(750) - capsule.right;
							Vue.prototype.CustomBar = capsule.bottom + capsule.top - e.statusBarHeight;
						} else {
							Vue.prototype.CustomBar = e.statusBarHeight + 50;
						}
						// #endif		
				
			
						// #ifdef MP-ALIPAY
						Vue.prototype.StatusBar = e.statusBarHeight;
						Vue.prototype.CustomBar = e.statusBarHeight + e.titleBarHeight;
						// #endif
					}
				})
				let token = this.$route.query.token; 
	
				if(token!=undefined){
					uni.setStorageSync('token',token);
					uni.switchTab({url:'pages/index/index'});
				}else{
					//window.location.href='http://10.10.10.30/index.php/api/goldapi/auth/default.shtml';
				}
			},
		}
</script>

<style>
	/*每个页面公共css */
	@import "colorui/main.css";
	@import "colorui/icon.css";
	@import 'common/uni.css';
	@import "static/css/weui.min.css";
	@import "static/css/py.scss";
	
</style>
