<template>
    <view class="main text-center">
        <template v-if="type=='order'">
            <image src="@/static/img/nd-order.png" mode="widthFix" class="img"></image>   
            <view class="d fon9 py-fmid margin-top-sm">{{str||"no order"}}</view>
        </template>
        <template v-if="type=='cart'">
            <image src="@/static/img/nd-cart.png" mode="widthFix" class="img"></image>   
            <view class="d fon9 py-fmid margin-top-sm">{{str||"cart is empty"}}</view>
        </template>
        <template v-if="type=='record'">
            <image src="@/static/img/nd-record.png" mode="widthFix" class="img"></image>   
            <view class="d fon9 py-fmid margin-top-sm">{{str||"no goods!"}}</view>
        </template>
        <template v-if="type=='ticket'">
            <image src="@/static/img/nd-ticket.png" mode="widthFix" class="img"></image>   
            <view class="d fon9 py-fmid margin-top-sm">{{str||"no carda"}}</view>
        </template>
    </view>
</template>
<script>
    export default{
        props:{
            type:{
                type:String,
                default:'record'
            },
            str:{
                type:String,
                default:''
            }
        }
    }
</script>
<style>
.img{
    width: 180rpx;
}  
</style>