*{
    line-height: 1;
}

.py-cblu{color:#37A7F1;}
.py-cred{color:#F85068;}
.py-cora{color:#FB6644;}
.py-cyel{color:#EB9409;}
.fon3{color:#333333;}
.fon6{color:#666666;}
.fon9{color:#999999;}
.fonm{color:#6F70FF}
.py-cf9f{color:#f9f9f9;}
.py-ceee{color:#eeeeee;}
.py-flar{font-size:36rpx;}
.py-fmid{font-size:30rpx;}
.py-fnor{font-size:24rpx;}
.py-fxl{font-size:48rpx;}
.bgf9{background-color: #f9f9f9;}
.bgblu{background-color: #37A7F1;}
.bgred{background-color: #F85068;}
.bgora{background-color: #FB6644;}

.bge1 {
	background-color: #eee;
}
.py-flab{
    font-size: 36rpx;
    font-weight: bold;
}
.br{
    border:1px solid red;
}
.bg{
    background-size: cover;
}

.py-del{
    text-decoration:line-through;
}
.py-btn{
    margin:auto;background-color: #F85068;height:74rpx;line-height: 74rpx;
}

.cu-form-group .title {
    min-width: calc(4em + 15px);
}
.cu-form-group .input-placeholder {
    color:#999999;
}
.textarea-placeholder{
    font-size:24rpx;
    color:#999999;
    line-height: 1.6;
}
uni-textarea{
    font-size:24rpx;
    color:#333;
    line-height: 1.6;
}



.checked .uni-radio-input.uni-radio-input-checked{
    background-color: #F85068 !important;
    border-color: #F85068 !important;
}

.py-shadow{
    box-shadow: 2px 2px 6px rgba(209,205,199,0.5),-2px -2px 6px rgba(209,205,199,0.5);
}
.py-radius4{
    border-radius:8rpx;
}
.radius0{
    border-radius:0;
}
uni-checkbox .uni-checkbox-input {
    margin: 0;
    width: 32rpx;
    height: 32rpx;
}
.tx{
	width: 142rpx;
	height: 142rpx;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
}
.line20{
    line-height: 2;
}
.line19{
    line-height: 1.9;
}
.line18{
    line-height: 1.8;
}
.line17{
    line-height: 1.7;
}
.line16{
    line-height: 1.6;
}
.line15{
    line-height: 1.5;
}
.line14{
    line-height: 1.4;
}
.line13{
    line-height: 1.3;
}
.line12{
    line-height: 1.2;
}
.line11{
    line-height: 1.1;
}
.zindex1{
    z-index: 1;
}
.zindex3{
    z-index: 3;
}
.zindex9{
    z-index: 9;
}
.w100{
    width: 100%;
}
.border-none{
    border: 0;
}
.fixed{
    position: fixed;
}
.posr{
    position: relative;
}
.posa{
    position: absolute;
}
.pad-py{
    padding:0 30rpx; 
}
.bg-none{
	background: transparent;
}

.bg-cor{
    background-color: #f9f9f9;
    min-height: 100vh;
}

.body{
	word-wrap:break-word; 
	word-break:normal;
}

.weui-loadmore{
    margin: 1.8em auto 0 auto;
}
.slh{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.slh1{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.slh2{
    text-overflow: -o-ellipsis-lastline;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     line-clamp: 2;
     -webkit-box-orient: vertical;
}
.slh3{
    text-overflow: -o-ellipsis-lastline;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     line-clamp: 3;
     -webkit-box-orient: vertical;
}
.slh4{
    text-overflow: -o-ellipsis-lastline;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 4;
     line-clamp: 4;
     -webkit-box-orient: vertical;
}
.slh5{
    text-overflow: -o-ellipsis-lastline;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 5;
     line-clamp: 5;
     -webkit-box-orient: vertical;
}
.slh6{
    text-overflow: -o-ellipsis-lastline;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 6;
     line-clamp: 6;
     -webkit-box-orient: vertical;
}

.weui-loadmore_line {
    border-top-color: #ddd;
    width: 234rpx;
}
.weui-loadmore_line .weui-loadmore__tips {
    top:-1.1em;
    background-color: #fff;
    font-size: 24rpx;
    color: #ddd;
}


/*轮播点样式*/

uni-swiper.round-dot .wx-swiper-dot, uni-swiper.round-dot .a-swiper-dot, uni-swiper.round-dot .uni-swiper-dot {
    background-color: #fff;
    width: 10rpx;
    height: 10rpx;
}
uni-swiper[class*="-dot"] .wx-swiper-dots, uni-swiper[class*="-dot"] .a-swiper-dots, uni-swiper[class*="-dot"] .uni-swiper-dots{
    justify-content: flex-end;
    padding-right: 46rpx;
}
uni-swiper.round-dot .wx-swiper-dot.wx-swiper-dot-active, uni-swiper.round-dot .a-swiper-dot.a-swiper-dot-active, uni-swiper.round-dot .uni-swiper-dot.uni-swiper-dot-active {
    width:28rpx;
    height: 10rpx;
    border-radius: 4px;
}
.screen-swiper{
    border-radius: 5px; 
    overflow: hidden;
}

//frame
.frame-box-all {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 6000;
}