<template>
	<view class="index padding-bottom">
		<view class="top flex">
			<view class="back"><</view>
			<view class="title">Add Adderess</view>
			<view class="save">Save</view>
		</view>
		<view class="msg">
			<view class="li1 flex">
				<view class="word1">Name</view>
				<view class="word2">Lisa</view>
			</view>
			<view class="li1 flex">
				<view class="word1">Number</view>
				<view class="word2">07828 000000</view>
			</view>
			<view class="li1 flex">
				<view class="word1">University</view>
				<view class="word2 bb" >eg.Imperial</view>
			</view>
			<view class="li1 flex">
				<view class="word1">Building</view>
				<view class="word2">Huxley</view>
				<view class="word3">></view>
			</view>
			<view class="li1 flex">
				<view class="word1">Time</view>
				<view class="word2">18:00</view>
			</view>
		</view>
	</view>
</template>

<script>
</script>

<style lang="scss">
	.bb {
		color: #BBBBBB ;
	}
	.index {
		background-color: #F8F8F8 ;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 6000;
		.top {
			width: 100%;
			height: 98rpx;
			background-color: #fff;
			justify-content: space-between;
			// line-height: 98rpx;
			padding-top: 30rpx;
			padding-left: 20rpx;
			padding-right: 40rpx;
			.back {
				font-weight: bold;
				font-size: 20px;
			}
			.title {
				color: #101010;
				font-weight: bold;
				font-size: 16px;
				margin-left: 100rpx;
			}
			.save {
				color: #6F70FF;
				font-size: 16px;
			}
		}
		.msg {
			width: 750rpx;
			height: 472rpx;
			background-color: #fff;
			margin-top: 24rpx;
			padding-left: 24rpx;
			.li1 {
				height: 94rpx;
				width: 363px;
				border-bottom: 1px solid rgba(238, 238, 238, 1);
				justify-content: space-start;
				font-size: 14px;
				.word1 {
					line-height: 94rpx;
					width: 198rpx;
				}
				.word2 {
					line-height: 94rpx;
				}
				.word3 {
					width: 48rpx;
					height: 48rpx;
					font-size: 24px;
					margin-top: 18rpx;
					margin-left:370rpx;
					color: rgba(153, 152, 152, 1);
				}
			}
		}
	}
</style>
