<template>
	<view class="index padding-bottom bgf9">
		<view class="back flex posr">
			<view class="left"><</view>
			<view class="title">Comfirm Order</view>
			<view class="pic1 posa"></view>
		</view>
		<view class="bgf9 top">  
			<view class="letter">Note:Check whether these info are correct before comfirm</view>
		</view>
		<view class="address flex flex-wrap">
			<view class="left"></view>
			<view class="right">
				<view class="right1">
				<view class="right1Top1">TT</view>
				<view class="right1Top2">07828 000000</view>
				</view>
				<view class="right2">Imperial Huxley Building 18:00</view>
			</view>
			<view class="bottom flex justify-between">
				<view class="li1"></view>
				<view class="li2"></view>
				<view class="li1"></view>
				<view class="li2"></view>
				<view class="li1"></view>
				<view class="li2"></view>
				<view class="li1"></view>
				<view class="li2"></view>
				<view class="li1"></view>
				<view class="li2"></view>
				<view class="li1"></view>
				<view class="li2"></view>
			</view>
		</view>
		<view class="goods">
			<view class="goodsTop">
				<view class="pic"></view>
				<view class="word">TT</view>
			</view>
			<view class="goodsBottom flex">
				<view class="pic1"></view>
				<view class="bootmR flex flex-wrap">
					<view class="word1 w100">Iphone 6</view>
					<view class="word2 w100">$2700.00</view>
				</view>

			</view>
		</view>
		<view class="price ">
			<view class="priceTop flex ">
				<view class="word1">Price</view>
				<view class="word2">$ 2599.00</view>
			</view>
			<view class="priceMiddle flex">
				<view class="word1">Service Fee</view>
				<view class="word2">+ $ 00.00</view>
			</view>
			<view class="priceBottom flex">
				<view class="word1">Post fee</view>
				<view class="word2"> $ 39.00</view>
			</view>
		</view>
		<view class="pay flex">
			<view class="word1">Total：$ 2638.00</view>
			<view class="btn">confirm</view>
		</view>
	</view>
</template>

<script>
</script>

<style lang="scss">
	.index {
		background-color: #fff;
		.back {
			width: 750rpx;
			height: 186rpx;
			background-color: #fff;
			padding-top: 106rpx;
			padding-left: 20rpx;
			.left {
				width: 48rpx;
				height: 48rpx;
				font-weight: bold;
				font-size: 24px;
				text-align: center;
			}
			.title {
				font-weight: 700;
				font-size: 16px;
				padding-left: 208rpx;
				height: 46rpx;
				line-height: 46rpx;
			}
			.pic1 {
				width: 60rpx;
				height: 60rpx;
				background-color: hotpink;
				left: 36px;
			}
		}
		.top {
		height: 104rpx;
		width: 100%;
        background-color:#FDEFC8;
		color: #EA900C;
			.letter {
			line-height: 104rpx;
			padding-left: 40rpx;
			font-size: 12px;
			}
		}
		.address {
			height: 212rpx;
			width: 700rpx;
			background-color: #fff;
			border-radius: 10px;
			margin: 34rpx 24rpx;
			box-shadow: 0px 0px 4px 2px rgba(170, 170, 170, 0.15);
			border: 1px solid rgba(255, 0, 0, 0);
			// position: flex;
			.left {
				height: 200rpx;
				min-width: 130rpx;
				// background-color: yellow;
				display: inline-block;
			}
			.right {
				width: 566rpx;
				height: 200rpx;
				// background-color: hotpink;
				display: inline-block;
				.right1 {
					padding-top: 44rpx;
					font-size: 16px;
					color: #101010 ;
					.right1Top1 {
						display: inline-block;
						font-weight: bold;
					}
					.right1Top2 {
						display: inline-block;
						margin-left: 40rpx;
						font-weight: bold;
					}
				} 
				.right2 {
					margin-top: 22rpx;
					font-size: 13px;
					color: #797979 ;
				}
			}
			.bottom {
				height: 12rpx;
				width: 100%;
				background-color: #f9f9f9;
				.li1  {
					width: 40rpx;
					height: 12rpx;
					background-color: #FF5452;
					border-radius: 0px 5px 0px 5px;
				}
				.li2 {
					width: 40rpx;
					height: 12rpx;
					background-color: #6D96FB;
					border-radius: 0px 5px 0px 5px;
				}
			}
		}
		.goods {
			height: 330rpx;	
			width: 700RPX;
			background-color: #fff;
			border-radius: 10px;
			margin: 30rpx 22rpx;
			box-shadow: 0px 0px 4px 2px rgba(170, 170, 170, 0.15);
			border: 1px solid rgba(255, 0, 0, 0);
			padding-top: 32rpx;
			padding-left: 20rpx;
			.goodsTop {
				width: 100%;
				height: 104rpx;
				.pic {
					width: 72rpx;
					height: 72rpx;
					background-color: hotpink;
					border-radius: 50%;
					display: inline-block;
					vertical-align: middle;
				}
				.word {
					display: inline-block;
					// vertical-align: middle;
					width: 40rpx;
					height: 46rpx;
					color: rgba(16, 16, 16, 1);
					font-size: 16px;
					text-align: left;
					font-family: PingFangSC-bold;
					margin-left: 18rpx;
				}
			}
			.goodsBottom {
				width: 700rpx;
				height: 208rpx;
				// display: flex;
				.pic1 {
					width: 168rpx;
					height: 168rpx;
					background-color: pink;
					display: inline-block;
					border-radius: 10px;
				}
				.bootmR {
					height: 168rpx;
					padding-left: 50rpx;
				}
				.word1 {
					// display: inline-block;
					// display: fl;
					// height: 72rpx;
					// margin-bottom: 100px;
					// width: 200rpx;
					height: 72rpx;
					font-size: 15px;
				}
				.word2 {
					// display: inline-block;
					// width: 180rpx;
					height: 26rpx;
					margin-top: 46rpx;
					font-size: 20px;
					color: #6F70FF;
					font-weight: 700;
				}
			}
		}
		.price {
			height: 232rpx;
			width: 700RPX;
			background-color: #fff;
			border-radius: 10px;
			margin: 30rpx 20rpx;
			box-shadow: 0px 0px 4px 2px rgba(170, 170, 170, 0.15);
			border: 1px solid rgba(255, 0, 0, 0);
			padding-top: 32rpx;
			padding-right: 26rpx;
			font-size: 14px;
			color: #101010 ;
			font-family: PingFangSC-regular;
			.priceTop {
				width: 100%;
				height: 72rpx;
				// background-color: pink;
				justify-content: space-between;
				padding-left: 24rpx;
				
			}
			.priceMiddle {
				width: 100%;
				height: 58rpx;
				// background-color: pink;
				justify-content: space-between;
				padding-left: 12rpx;
			}
			.priceBottom {
				width: 100%;
				height: 56rpx;
				// background-color: pink;	
				justify-content: space-between;
				padding-left: 24rpx;
			}
		}
		.pay {
			height: 84rpx;
			width: 100%;
			// background-color: pink;
			border: 1px solid rgba(238, 238, 238, 1);
			position: fixed;
			bottom: 0;
			// text-align: center;
			padding: 24rpx 22rpx;
			justify-content: space-between;
			color: rgba(16, 16, 16, 1);
			font-size: 14px;
			text-align: left;
			font-family: PingFangSC-regular;
			.btn {
				width: 222rpx;
				height: 44rpx;
				background-color: #6F70FF ;
				color: #FFFFFF;
				line-height: 44rpx;
				text-align: center;
				border-radius: 5px;
				// margin-bottom: 10rpx;
				transform: translateY(-10rpx);
			}
		}
	}

</style>
