<template>
  <view>
    <cu-custom bgColor="bg-white" :isBack="true">
      <block slot="content">Detail</block>
    </cu-custom>
	<view>
		<swiper style="height: 500upx;">
			<swiper-item v-for="(p,i) in banners" :key="i">
				<image mode="widthFix" class="bannerimg" :src="'https://unidle.azurewebsites.net/' + p.imgs"></image>
			</swiper-item>
		</swiper>
	</view>
	
    <view class="main w100">
		<view class="flex justify-between fon9 padding-top-xs padding-left-xs align-center">
            <view class="flex align-center">
               {{banners[0].author}}
            </view>
        </view>
        <view class="name padding-left-xs py-flab slh2 fon3 line14"> {{banners[0].title}}</view>
        <view class="jg padding-left-xs padding-bottom-xs text-bold fonm"> {{banners[0].price}} pounds</view>
		<view class="padding-left-xs padding-right-xs body fon3 line14">{{banners[0].body}}
			<scroll-view scroll-y="true">
		</scroll-view></view>
    </view>
   
	
	<view class="barfix cu-bar bg-white tabbar border shop">
		<button class="action" open-type="contact">
			<view class="cuIcon-service text-purple">
				<view class="cu-tag badge"></view>
			</view>
			chat
		</button>
		<view class="action text-pink">
			<view class="cuIcon-like"></view> like
		</view>
		<view @tap="$gopage('/pages/index/booking')" class="submit  round text-white" style="background-color: #9A9BF5; text-white">buy</view>
	</view>
  </view>
</template>

<script>
	export default {
		data(){ 
			return{
				pid:"",
				banners:{},
				imgs:[],
				}
			
		},
		methods:{
			getdata() {
				uni.request({
					//url:'https://unidle.azurewebsites.net/api/v1/getposts',
				    url: 'http://127.0.0.1:5000/api/get/goodposts', //仅为示例，并非真实接口地址。
					data:{
				      pid : this.pid,
					  
				    },
				    success: (data) => {
				    	console.log(data);
						this.banners = data.data
				    },
				    fail: (data, code) => {
				    	console.log('fail' + JSON.stringify(data));
				    }
				});
			}
		},
		onLoad(options){
			this.pid = options.id;
			this.getdata();
		}
	}
</script>

<style lang="scss">
	.bannerimg{
		width:750upx;
	}
	.barfix{
		position: fixed;
		bottom: 0upx;
		width: 750upx;
	}
.jl{
    width:44rpx;
    height: 44rpx;
    background-color: rgba(0,0,0,0.1);
    margin-right: 6rpx;
    .jlicon{
        width:24rpx;
        height: 24rpx;
    }
}
.name{
    font-weight: bold;
    margin-top: 12rpx;
    margin-bottom: 10rpx;
}
.img{
    width: 100%;
    border-top-left-radius: 24rpx;
    border-top-right-radius: 24rpx;
} 
</style>