<template>
	<view class="index padding-bottom">
		<cu-custom bgColor="bg-index" :isBack="true" v-if="ShowCustomBar">
			<block slot="content">Home</block>
		</cu-custom>

		<view class="top padding-top-xl">
			<view class="flex justify-between align-center padding-lr padding-top-xl">
				<view class="round bg-white so text-center" @tap="$gopage('/pages/index/search')">
					<text class="cuIcon-search margin-right-sm"></text> iphone 6
				</view>
				<image class="cart" src="/static/img/index/fa-shopping-cart.svg"
					 mode="widthFix"></image>
			</view>
		</view>

		<view class="padding-lr" style="margin-top: -188rpx;">
			<swiper class="screen-swiper round-dot1 square-dot" :indicator-dots="true" indicator-color="#999" indicator-active-color="#333" :circular="true" style="min-height: 302rpx;height: 302rpx;width: 100%;border-radius: 0;" :autoplay="true" interval="5000"
			 duration="500" >
				<swiper-item class="swi-item posr">
					<image  class="" src="http://pic.sc.chinaz.com/files/pic/pic9/201408/apic5382.jpg" mode="aspectFill"></image>
				</swiper-item>
				<swiper-item class="swi-item posr">
					<image  class="" src="/static/img/index/ad1.jpg" mode="aspectFill"></image>
				</swiper-item>
				<swiper-item class="swi-item posr">
					<image  class="" src="http://pic.sc.chinaz.com/files/pic/pic9/201312/apic2690.jpg" mode="aspectFill"></image>
				</swiper-item>
			</swiper>
		</view>
		
		<view class="padding-lr tab">
			<scroll-view scroll-x class="bg-white nav" scroll-with-animation  :scroll-left="navtscrollLeft">
				<view class="cu-item tab1 py-fmid"  @tap="navtSelect" :class="i==navti?'active py-cred py-flab':'fon3'" v-for="(vo,i) in navt" :key="i" :data-id="i">
					{{vo}}    
				</view>				
			</scroll-view>
		</view>

		<view class="padding-lr-sm">
			<template v-if="goodslist.length>0">
				<view @tap="$godetail(vo.pid)" class="padding-lr-sm padding-bottom good fl" v-for="(vo,i) in goodslist" :key="i">
					<goods
						:name="vo.title"
						:jg="'￡' + vo.price"
						:img="typeof vo.imgs[0] == undefined? '' : 'https://unidle.azurewebsites.net/' + vo.imgs[0] "
						jl="500m"
					></goods>
				</view>
				<view class="w100" style="clear: both;"></view>
			</template>
			<template v-if="goodslist.length==0">
				<no-data str="no goods"></no-data>
			</template>
		</view>
	</view>
</template>

<script>
	import goods from "@/components/goods/goods.vue"
	import noData from "@/components/nodata/nodata.vue"
	export default {
		components: {goods,noData},
		data() {
			return {
				nav:[
					{name:'Phone',image:'/static/img/index/n1.svg'},
					{name:'Digital Device',image:'/static/img/index/n2.svg'},
					{name:'Shoes',image:'/static/img/index/n4.svg'},
					{name:'Event Ticket',image:'/static/img/index/n4.svg'},
					{name:'Coupon',image:'/static/img/index/n5.svg'},
					{name:'Vehicle',image:'/static/img/index/n2.svg'},
					{name:'Make-Up',image:'/static/img/index/n2.svg'},
					{name:'Textbooks',image:'/static/img/index/n8.svg'},
				],
				navti:0,
				navtscrollLeft:0,
				navt:['NearBy','South Kensington','Earl\'s Court','Holborn','King\'s Cross'],
				goodslist:[
					// {name:'Product title and discription',jg:'$300',img:'http://pic.sc.chinaz.com/files/pic/pic9/201903/bpic10995.jpg'},
				],
			}
		},
		created(){
			this.getGoodsList()
		},
		methods: {
			navtSelect(e) {
				this.navti = e.currentTarget.dataset.id; 
				this.navtscrollLeft = (e.currentTarget.dataset.id - 1) * 60
			},
			getGoodsList() {
				uni.request({
					url:'https://unidle.azurewebsites.net/api/v1/getposts',
				    //url: 'http://127.0.0.1:5000/api/v1/getposts', //仅为示例，并非真实接口地址。
				    success: (res) => {
				        console.log(res.data);
				       this.goodslist = res.data
				    }
				});
			}
		}
	}
</script>

<style lang="scss">
	.good{
			width:50%;
	}
	.nav{
		.item{
			width:25%;
			&:nth-of-type(4n+1){
				.round.icon{
					background-color: #EC595F;
				}
			}
			&:nth-of-type(4n+2){
				.round.icon{
					background-color: #7AADF0;
				}
			}
			&:nth-of-type(4n+3){
				.round.icon{
					background-color: #AB5DBD;
				}
			}
			&:nth-of-type(4n+4){
				.round.icon{
					background-color: #879CFF;
				}
			}
			&:last-child{
				.round.icon{
					background-color: #F8A934;
				}
			}
			.iti{
				width: 50rpx;
				height: 50rpx;
			}
			.icon.round{
				width: 96rpx;
				height: 96rpx;
				line-height: 96rpx;
			}
		}

	}
	.top{
		background-color: #9A9BF5;
		height: 400rpx;
		.so{
			width: 574rpx;
			height: 72rpx;
			line-height: 72rpx;
			.input{
				width: 100%;
				height: 100%;
			}
		}
		.cart{
			width: 48rpx;
		}
	}
	.tab{
		padding-top: 38rpx;
		padding-bottom: 48rpx;
	}
	.nav .cu-item.tab1{
		min-width: 110rpx;
		text-align: center;
	}
	.nav .cu-item.tab1.active{
		color: #000;
		position: relative;
		&::after{
			content: "";
			width:40rpx;
			height: 8rpx;
			background-color: #9A9BF5;
			background-size: 100%;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -20rpx;
			border-radius:20rpx;
		}
	}
	.nav .cu-item.cui1{
		width:196rpx;
		margin: 0;
		padding: 0;
		margin-right: 42rpx;
		height:inherit;
	}
</style>
