<template>
	<view class="page-layout">
		<view class="uni-searchbar">
			<view :style="{borderRadius:radius+'px',backgroundColor: bgColor}" class="uni-searchbar__box" @click="searchClick">
				<input v-if="show" :focus="showSync" :placeholder="placeholder" :maxlength="maxlength" @confirm="confirm" class="uni-searchbar__box-search-input" confirm-type="search" type="text" v-model="searchVal" />
				<text v-else class="uni-searchbar__text-placeholder">{{ placeholder }}</text>
				<view v-if="show && (clearButton==='always'||clearButton==='auto'&&searchVal!=='')" class="uni-searchbar__box-icon-clear" @click="clear">
					<uni-icons color="#999999" class="" size="24" type="clear" />
				</view>
			</view>
			<text @click="$gopage('/pages/index/index')" class="uni-searchbar__cancel" v-if="cancelButton ==='always' || show && cancelButton ==='auto'">{{cancelText}}</text>
		</view>
		<view>
				<template v-if="listData.length>0">
					<view @tap="$godetail(vo.pid)" class="padding-lr-sm padding-bottom good fl" v-for="(vo,i) in listData" :key="i">
						<goods
							:name="vo.title"
							:jg="'￡' + vo.price"
							:img="typeof vo.imgs[0] == undefined? '' : 'https://unidle.azurewebsites.net/' + vo.imgs[0] "
							jl="Author"
						></goods>
					</view>
					<view class="w100" style="clear: both;"></view>
				</template>
				<template v-if="listData.length==0">
					<no-data str="no goods"></no-data>
				</template>
			</view>
		</view>
	</view>
</template>

<script>
	import noData from "@/components/nodata/nodata.vue"
	import goods from "@/components/goods/goods.vue"
	import uniIcons from "../../components/uni-icons/uni-icons.vue";
	import uniLoadMore from '@/components/uni-load-more/uni-load-more.vue';
	var dateUtils = require('@/common/util.js').dateUtils;

	/**
	 * SearchBar 搜索栏
	 * @description 评分组件s
	 * @tutorial https://ext.dcloud.net.cn/plugin?id=866
	 * @property {Number} radius 搜索栏圆角
	 * @property {Number} maxlength 输入最大长度
	 * @property {String} placeholder 搜索栏Placeholder
	 * @property {String} clearButton = [always|auto|none] 是否显示清除按钮
	 * 	@value always 一直显示
	 * 	@value auto 输入框不为空时显示
	 * 	@value none 一直不显示
	 * @property {String} cancelButton = [always|auto|none] 是否显示取消按钮
	 * 	@value always 一直显示
	 * 	@value auto 输入框不为空时显示
	 * 	@value none 一直不显示
	 * @property {String} cancelText 取消按钮的文字
	 * @property {String} bgColor 输入框背景颜色
	 * @event {Function} confirm uniSearchBar 的输入框 confirm 事件，返回参数为uniSearchBar的value，e={value:Number}
	 * @event {Function} input uniSearchBar 的 value 改变时触发事件，返回参数为uniSearchBar的value，e={value:Number}
	 * @event {Function} cancel 点击取消按钮时触发事件，返回参数为uniSearchBar的value，e={value:Number}
	 */

	export default {
		name: "UniSearchBar",
		components: {
			uniIcons,
			uniLoadMore,
			goods,
			noData
		},
		data() {
				return {
					banner: {},
					listData: [],
					last_id: '',
					reload: false,
					status: 'more',
					imgs:[],
					contentText: {
						contentdown: 'Pull to load more',
						contentrefresh: 'Loading..',
						contentnomore: 'No more'
					}
				};
		},
		props: {
			placeholder: {
				type: String,
				default: "iPhone 6"
			},
			radius: {
				type: [Number, String],
				default: 5
			},
			clearButton: {
				type: String,
				default: "auto"
			},
			cancelButton: {
				type: String,
				default: "always"
			},
			cancelText: {
				type: String,
				default: 'Cancel'
			},
			bgColor: {
				type: String,
				default: "#F8F8F8"
			},
			maxlength: {
				type: [Number, String],
				default: 100
			}
		},
		data() {
			return {
				show: true,
				showSync: false,
				searchVal: "",
				listData:[]
			}
		},
		watch: {
			searchVal() {
				this.$emit("input", {
					value: this.searchVal
				})
			}
		},
		created() {
				this.getList();
		},
		methods: {
			
			searchClick() {
				if (this.show) {
					return
				}
				this.searchVal = ""
				this.show = true;
				this.$nextTick(() => {
					this.showSync = true;
				})
			},
			clear() {
				this.searchVal = ""
			},
			confirm() {
				// #ifndef APP-PLUS
				uni.hideKeyboard();
				// #endif
				// #ifdef APP-PLUS
				plus.key.hideSoftKeybord()
				// #endif
				this.$emit("confirm", {
					value: this.searchVal
				})
				this.search()
			},
			getList() {
			    
			uni.request({
				url:'https://unidle.azurewebsites.net/api/v1/getposts',
			    // url: 'http://127.0.0.1:5000/api/v1/getposts', //仅为示例，并非真实接口地址。
			    success: (data) => {
			    	
					this.listData = data.data
			    },
			    fail: (data, code) => {
			    	console.log('fail' + JSON.stringify(data));
			    }
			});
		    },
			search() {  
				uni.request({
					url:'https://unidle.azurewebsites.net/api/search/title',
					// url: 'http://localhost:5000/api/search/title', //仅为示例，并非真实接口地址。
					data: {
						title: this.searchVal
					},
				
					success: (data) => {
						this.listData = data.data
					},
					fail: (data, code) => {
						console.log('fail' + JSON.stringify(data));
					}
				});
			},
		},
		onPullDownRefresh() {
				this.reload = true;
				this.last_id = '';
				this.getList();
		},
		onReachBottom() {
				this.status = 'more';
				this.getList();
		}
	};
</script>

<style scoped>
	.good{
		width:50%;
	}
	
	.uni-searchbar {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		flex-direction: row;
		position: relative;
		padding: 16rpx;
		background-color: #ffffff;
	}
	
	.page-layout {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		flex-direction: column;
		position: relative;
		background-color: #ffffff;
	}

	.uni-searchbar__box {
		/* #ifndef APP-NVUE */
		display: flex;
		box-sizing: border-box;
		/* #endif */
		overflow: hidden;
		position: relative;
		flex: 1;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		height: 36px;
		padding: 5px 8px 5px 0px;
		border-width: 0.5px;
		border-style: solid;
		border-color: #e5e5e5;
	}

	.uni-searchbar__box-icon-search {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		flex-direction: row;
		width: 32px;
		justify-content: center;
		align-items: center;
		color: #808080;
	}

	.uni-searchbar__box-search-input {
		flex: 1;
		font-size: 28rpx;
		color: #333;
	}

	.uni-searchbar__box-icon-clear {
		align-items: center;
		line-height: 24px;
		padding-left: 5px;
	}

	.uni-searchbar__text-placeholder {
		font-size: 28rpx;
		color: #808080;
		margin-left: 5px;
	}

	.uni-searchbar__cancel {
		padding-left: 10px;
		line-height: 36px;
		font-size: 14px;
		color: #333;
	}
</style>