<template>
	<view class="index padding-bottom bgf9">
		<cu-custom bgColor="bg-white" :isBack="false" v-if="1">
			<block slot="content"><text class="text-bold py-flar text-black">Description</text></block>
			<block slot="right">
				<text class="padding-left" @tap="$gopage('/pages/index/index')">Cancel</text>
			</block>
		</cu-custom>

		<view class="cu-form-group padding-top padding-bottom">
			<view class="grid col-4 grid-square flex-sub">
				<view class="bg-img" v-for="(item,index) in imgList" :key="index" @tap="ViewImage" :data-url="imgList[index]">
				 <image :src="imgList[index]" mode="aspectFill"></image>
					<view class="cu-tag bg-red" @tap.stop="DelImg" :data-index="index">
						<text class='cuIcon-close'></text>
					</view>
				</view>
				<view class="text-center" style="margin:auto;" @tap="ChooseImage" v-if="imgList.length<4">
					<text class="cuIcon-cameraadd"></text>
					<view class="w100 text-center fon9" style="padding-top: 60px;padding-bottom: 40px;">Add Photo</view>
				</view>
			</view>
		</view>
		<view class="cu-form-group margin-top-lg padding-top">
			<input placeholder="Title" name="input" v-model="title"></input>
		</view>
		<view class="w100"></view>
		<view class="cu-form-group">
			<textarea style="height: 180rpx;"  placeholder-style="color:#CACACA;" maxlength="-1" :disabled="modalName!=null" @input="textareaAInput" placeholder="Describe item info. Why do you want to sell it?"></textarea>
		</view>
		<view class="w100"></view>
		<radio-group class="block">
			<view class="cu-form-group">
				<view class="title"><text class="cuIcon-location margin-right-xs"></text>SW7 2AZ</view>
				<view class="d">
					<radio class="margin-right-sm" @click="radio=!radio" :checked="radio?true:false" value=""></radio>New
				</view>		
			</view>
		</radio-group>
		
		<view class="cu-form-group" style="margin-top: 94rpx;">
			<view class="Price">Price (￡)</view>
			<input placeholder="   Set Price" name="Price" v-model="price" style="margin-left: 94rpx;" ></input>
		</view>
		
		<view class="cu-form-group" style="margin-top: 94rpx;">
			<view class="title">Catogory</view>
			<picker @change="PickerChange" :value="index" :range="picker">
				<view class="picker">
					{{index>-1?picker[index]:'Catogory'}}
				</view>
			</picker>
		</view>

		<view class="w100" style="height: 100rpx;"></view>
		<view class="fixed w100 padding-lr padding-tb-sm bg-white" style="bottom:100rpx;">
			<button @tap="Submit" class="cu-btn bg-grey w100" style="background-color: #9A9BF5;">Confirm</button>
		</view>
		
		
		
	</view>
</template>

<script>
	import goods from "@/components/goods/goods.vue"
	export default {
		components: {goods},
		data() {
			return {
				imgList: [],
				picker: ['default','Digital Device', 'Textbook', 'other'],
				modalName: null,
				textareaAValue: '',
				radio: false,
				index:0,
				price:0,
				title:null,
				img:null,
				user_id:0,
				author:'null',
			}
		},
		created(){
		},

		methods: {
			Submit(){
				uni.request({
				    url: 'https://unidle.azurewebsites.net/api/post/posttodb', //db url
					//url:'http://127.0.0.1:5000/api/post/posttodb',
					method: 'POST',
				    data: {
				        price: this.price,
						body: this.textareaAValue,
						title: this.title,
						imgs:this.imgList,
						author:this.author,
						user_id:this.user_id,
						type:this.picker[this.index],
				    },
				    success: (res) => {
						this.$gopage("/pages/index/index");
				    }
				});
				
			},
			PickerChange(e) {
				this.index = e.detail.value
			},
			RadioChange(e) {
				this.radio = (e.detail.value==A?'B':"A");
			},
			textareaAInput(e) {
				this.textareaAValue = e.detail.value
			},
			ChooseImage() {
		    var that = this;
		    uni.chooseImage({
		      success: (chooseImageRes) => {
				    for (var i = 0; i < chooseImageRes.tempFilePaths.length; i++) {
				      const uploadTask = uni.uploadFile({
						url:'https://unidle.azurewebsites.net/api/v1/img',
				        //url : 'http://127.0.0.1:5000/api/v1/img',
				        filePath: chooseImageRes.tempFilePaths[i],
				        name: 'file',
				        success: function (uploadFileRes) {
				        	// var res = uploadFileRes.data;
				        	var res = JSON.parse(uploadFileRes.data);
				        	// console.log(res);
					        if(res.code == 1){
					         	that.imgList.push(res.url);
					        }else{
						        uni.showToast({
						          title: res.msg,
						          icon: 'none'
						        });
					        }
				       }
				      });
				      uploadTask.onProgressUpdate((res) => {
					      if (res.totalBytesExpectedToSend > 1024*1024*2) {
					        uploadTask.abort();
					        uni.showToast({
					          title: "file size shoule less than 2M",
					          icon: 'none'
					        });
					      }
				      });
				    }
		      }
		    })
			},
			ViewImage(e) {
				uni.previewImage({
					urls: this.imgList,
					current: e.currentTarget.dataset.url
				});
			},
			DelImg(e) {
				uni.showModal({
					title: '',
					content: 'Do you sure you want to delete this ?',
					cancelText: 'no',
					confirmText: 'yes',
					success: res => {
						if (res.confirm) {
							this.imgList.splice(e.currentTarget.dataset.index, 1)
						}
					}
				})
			},
		}
	}
</script>

<style lang="scss">
.index{
	min-height: 100vh;
}
</style>
