<template>
	<view class="index padding-bottom bgf9">
		<cu-custom bgColor="bg-index" :isBack="true" v-if="ShowCustomBar">
			<block slot="content">Home</block>
		</cu-custom>
		
		<view class="box">
			<view class="cu-bar bg-white">
				<view class="action" @tap="$gopage('/pages/index/index')">
					<text class="cuIcon-homefill" ></text>
					<text>     Home</text>
				</view>			
			</view>
		</view>	

		<view class="top" style="padding-top: 72rpx">
			<view class="flex justify-end padding-right-lg">
				<image class="cart margin-right" src="/static/img/my/xiangji.svg"
					 mode="widthFix"></image>
				<image class="cart" src="/static/img/my/shezhi.svg"
					 mode="widthFix"></image>
			</view>
			<view class="flex align-center padding-lr-sm">
				<view class="cu-avatar round dj1 margin-left-xs" :style="'background-image:url('+(0 || 'https://ossweb-img.qq.com/images/lol/web201310/skin/big10001.jpg') + ');'"></view>
				<view class="flex flex-wrap text-white">
					<view class="w100 name py-flar text-bold">Lisa</view>
				</view>
			</view>
			<view class="flex justify-around text-center text-white padding-top-sm margin-top-xs padding-lr-sm">
				<view class="flex item flex-wrap">
					<view class="w100 name text-bold py-flar">5</view>
					<view class="w100 name padding-top-sm">Posted</view>
				</view>
				<view class="flex item flex-wrap">
					<view class="w100 name text-bold py-flar">3</view>
					<view class="w100 name padding-top-sm">Liked</view>
				</view>
			</view>
		</view>

		<view class="padding-lr-sm margin-top">
			<template v-if="goodslist.length>0">
				<view @tap="$gopage('/pages/index/detail')" class="padding-lr-sm padding-bottom good fl" v-for="(vo,i) in goodslist" :key="i">
					<goods
						:name="vo.name"
						:jg="vo.jg"
						:img="vo.img"
						jl="500m"
						status="online"
					></goods>
				</view>
				<view class="w100" style="clear: both;"></view>
			</template>
			<template v-if="goodslist.length==0">
				<no-data str="no goods"></no-data>
			</template>
		</view>



	</view>
</template>

<script>
	import goods from "@/components/goods/goods.vue"
	import noData from "@/components/nodata/nodata.vue"
	export default {
		components: {goods,noData},
		data() {
			return {
				goodslist:[
					{name:'Product title and discription',jg:'$2700',img:'http://pic.sc.chinaz.com/files/pic/pic9/201312/apic2690.jpg'},
					{name:'Product title and discription',jg:'$270',img:'http://pic.sc.chinaz.com/files/pic/psd1/201811/psd27755.jpg'},
					{name:'Product title and discription',jg:'$2701',img:'http://pic.sc.chinaz.com/files/pic/pic9/201408/apic5632.jpg'},
					{name:'Product title and discription',jg:'$20',img:'http://pic.sc.chinaz.com/files/pic/pic9/201901/bpic10249.jpg'},
					{name:'Product title and discription',jg:'$3700',img:'http://pic.sc.chinaz.com/files/pic/pic9/202002/zzpic22980.jpg'},
					{name:'Product title and discription',jg:'$200',img:'http://pic.sc.chinaz.com/files/pic/pic9/201902/bpic10589.jpg'},
					{name:'Product title and discription',jg:'$300',img:'http://pic.sc.chinaz.com/files/pic/pic9/201903/bpic10995.jpg'},

				],
			}
		},
		created(){
		},
		methods: {
		}
	}
</script>

<style lang="scss">
	.good{
			width:50%
	}
	.m{
		.num{
			font-size: 60rpx;
		}
		.new{
			left: 60%;
			top: -24rpx;
			width: 84rpx;
			height: 40rpx;
			line-height: 40rpx;
			border-radius: 10px 8px 8px 0px;
			background-color: rgba(111, 112, 255, 1);
			color: rgba(255, 255, 255, 1);
			font-size: 16rpx;
			text-align: center;
			font-family: Arial;
			border: 1px solid rgba(255, 255, 255, 1);
		}
	}
	.top{
		background-color: #9A9BF5;
		height: 480rpx;
		.dj1{
			width: 108rpx;
			height: 108rpx;
			border:4rpx solid #fff;
			margin-right: 12rpx;
		}
		.cart{
			width: 40rpx;
		}
	}
</style>
