<template>
	<view class="content">
		<view class="box">
			<view class="cu-bar bg-white">
				<view class="action" @tap="$gopage('/pages/index/index')">
					<text class="cuIcon-homefill" ></text>
					<text>     Home</text>
				</view>			
			</view>
		</view>	
		
		<view class="flex solid-bottom justify-center">
				<image  class="" src="/static/img/my/logo.png" style="text-align: center; width: 100px; height: 100px;"></image>
		</view>
		
		<view class="input-group">
			<view class="input-row" style="margin-left: 94rpx; margin-bottom: 25rpx;">
				<m-input class="m-input" type="text" clearable focus v-model="email"  placeholder="enter your email"></m-input>
			</view>
			
			<view class="input-row">
				<m-input type="password" displayable v-model="password" placeholder="enter your password" style="margin-left: 94rpx; margin-bottom: 25rpx;"></m-input>
			</view>
		</view>
		<view class="btn-row">
			<button type="primary" class="primary" @tap="bindLogin">login</button>
		</view>
		<view class="action-row">
			<navigator url="../my/reg">sign in</navigator>
			<text>|</text>
			<navigator url="../my/pwd">forgot password?</navigator>
		</view>
	</view>
</template>

<script>
	import service from '../../service.js';
	import {
		mapState,
		mapMutations
	} from 'vuex'
	import mInput from '../../components/m-input.vue'

	export default {
		components: {
			mInput
		},
		data() {
			return {
				providerList: [],
				hasProvider: false,
				email: '',
				password: '',
				positionTop: 0,
				isDevtools: false,
			}
		},
		computed: mapState(['forcedLogin']),
		methods: {
			...mapMutations(['login']),
			initPosition() {
				/**
				 * 使用 absolute 定位，并且设置 bottom 值进行定位。软键盘弹出时，底部会因为窗口变化而被顶上来。
				 * 反向使用 top 进行定位，可以避免此问题。
				 */
				this.positionTop = uni.getSystemInfoSync().windowHeight - 100;
			},
			bindLogin() {
				/**
				 * 客户端对账号信息进行一些必要的校验。
				 * 实际开发中，根据业务需要进行处理，这里仅做示例。
				 */
				if (this.email.length < 5) {
					uni.showToast({
						icon: 'none',
						title: 'account number is at least 5 characters'
					});
					return;
				}
				if (this.password.length < 6) {
					uni.showToast({
						icon: 'none',
						title: 'password is at least 6 characters'
					});
					
					return;
				}
				/**
				 * 下面简单模拟下服务端的处理
				 * 检测用户账号密码是否在已注册的用户列表中
				 * 实际开发中，使用 uni.request 将账号信息发送至服务端，客户端在回调函数中获取结果信息。
				 */
				uni.request({
				    url: 'https://unidle.azurewebsites.net/api/login', //db url
					//url:'http://127.0.0.1:5000/api/login',
					method: 'GET',
				    data: {
				      email:this.email,
					  password:this.password,
					  
				    },
				    success: (res) => {
						console.log(res);
						if (res.data == 1){
							this.$gopage("/pages/my/index");
						} else {
							uni.showToast({
							icon: 'none',
							title: 'incorrect account number or password',
						});
						}					
				     }
					 });
				
			},
			oauth(value) {
				uni.login({
					provider: value,
					success: (res) => {
						uni.getUserInfo({
							provider: value,
							success: (infoRes) => {
								/**
								 * 实际开发中，获取用户信息后，需要将信息上报至服务端。
								 * 服务端可以用 userInfo.openId 作为用户的唯一标识新增或绑定用户信息。
								 */
								this.toMain(infoRes.userInfo.nickName);
							},
							fail() {
								uni.showToast({
									icon: 'none',
									title: 'fail to login'
								});
							}
						});
					},
					fail: (err) => {
						console.error('Authorized login failed:' + JSON.stringify(err));
					}
				});
			},
			getUserInfo({
				detail
			}) {
				if (detail.userInfo) {
					this.toMain(detail.userInfo.nickName);
				} else {
					uni.showToast({
						icon: 'none',
						title: 'fail to login'
					});
				}
			},
			toMain(userName) {
				this.login(userName);
				/**
				 * 强制登录时使用reLaunch方式跳转过来
				 * 返回首页也使用reLaunch方式
				 */
				if (this.forcedLogin) {
					uni.reLaunch({
						url: '../my/index',
					});
				} else {
					uni.navigateBack();
				}

			}
		},
		onReady() {
			this.initPosition();
			// #ifdef MP-WEIXIN
			this.isDevtools = uni.getSystemInfoSync().platform === 'devtools';
			// #endif
		}
	}
</script>

<style scoped> 

     /* 头条小程序需要把 iconfont 样式放到组件外 */
      @import "@/components/m-icon/m-icon.css"; 
     
	.box {
		margin: 20upx 0;
		
	}
	
	.box view.cu-bar {
		margin-top: 0upx;
		display: flex;
		position: relative;
		align-items: center;
		top:0;
		min-height: 100upx;
		justify-content: space-between;
	}
	
	.text-bold {
		font-weight: bold;
	}
	/* #ifdef MP-ALIPAY */
	.cu-custom .cu-bar .action .cuIcon-back {
		opacity: 0;
	}
	
	/* #endif */
	
	.action {
		width: 100upx;
		text-align: center
	}
	.action-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.action-row navigator {
		color: #9A9BF5;
		padding: 0 10px;
	}

	.oauth-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.oauth-image {
		position: relative;
		width: 50px;
		height: 50px;
		border: 1px solid #dddddd;
		border-radius: 50px;
		margin: 0 20px;
		background-color: #ffffff;
	}

	.oauth-image image {
		width: 30px;
		height: 30px;
		margin: 10px;
	}

	.oauth-image button {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	
	
	page {
		min-height: 100%;
		display: flex;
		font-size: 16px;
	}
	
	/* #ifdef MP-BAIDU */
	page {
		width: 100%;
		height: 100%;
		display: block;
	}
	
	swan-template {
		width: 100%;
		min-height: 100%;
		display: flex;
	}
	
	/* 原生组件模式下需要注意组件外部样式 */
	custom-component {
		width: 100%;
		min-height: 100%;
		display: flex;
	}
	
	/* #endif */
	
	/* #ifdef MP-ALIPAY */
	page {
		min-height: 100vh;
	}
	
	/* #endif */
	
	/* 原生组件模式下需要注意组件外部样式 */
	m-input {
		width: 100%;
		/* min-height: 100%; */
		display: flex;
		flex: 1;
	}
	
	.content {
		display: flex;
		padding: 0px;
		flex: 1;
		flex-direction: column;
		background-color: #efeff4;
	}
	
	.contents {
		display: flex;
		padding: 10px;
		flex: 1;
		flex-direction: column;
		background-color: #efeff4;
	}
	
	.input-group {
		margin-top: 5px;
		padding: 10px;
		background-color: #ffffff;
		margin-top: 20px;
		position: relative;
	}
	
	.input-group::before {
		position: absolute;
		right: 0;
		top: 0;
		left: 0;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		background-color: #c8c7cc;
	}
	
	.input-group::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		background-color: #c8c7cc;
	}
	
	.input-row {
		margin-top: 5px;
		padding: 10px;
		display: flex;
		flex-direction: row;
		position: relative;
		font-size: 22px;
		line-height: 50px;
	}
	
	.input-row .title {
		width: 72px;
		padding-left: 15px;
	}
	
	.input-row.border::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 8px;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		background-color: #c8c7cc;
	}
	
	.btn-row {
		margin-top: 5px;
		padding: 10px;
	}
	
	button.primary {
		background-color: #9A9BF5;
	} 
</style>
