<template>
	<view class="content">
		<view class="input-group">
			<view class="input-row">
				<m-input type="text" focus clearable v-model="email" placeholder="enter email address"></m-input>
			</view>
		</view>

		<view class="btn-row">
			<button type="primary" class="primary" @tap="findPassword">submit</button>
		</view>
	</view>
</template>

<script>
	import service from '../../service.js';
	import mInput from '../../components/m-input.vue';

	export default {
		components: {
			mInput
		},
		data() {
			return {
				email: ''
			}
		},
		methods: {
			findPassword() {
				/**
				 * 仅做示例
				 */
				if (this.email.length < 3 || !~this.email.indexOf('@')) {
					uni.showToast({
						icon: 'none',
						title: 'invalid email address',
					});
					return;
				}
				uni.showToast({
					icon: 'none',
					title: 'The reset email has been sent to the registered mailbox, please check it.',
					duration: 3000
				});
			}
		}
	}
</script>

<style scoped>
	/* 头条小程序需要把 iconfont 样式放到组件外 */
	  @import "@/components/m-icon/m-icon.css"; 
	 
	.box {
		margin: 20upx 0;
		
	}
	
	.box view.cu-bar {
		margin-top: 0upx;
		display: flex;
		position: relative;
		align-items: center;
		top:0;
		min-height: 100upx;
		justify-content: space-between;
	}
	
	.text-bold {
		font-weight: bold;
	}
	/* #ifdef MP-ALIPAY */
	.cu-custom .cu-bar .action .cuIcon-back {
		opacity: 0;
	}
	
	/* #endif */
	
	.action {
		width: 100upx;
		text-align: center
	}
	.action-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.action-row navigator {
		color: #55aaff;
		padding: 0 10px;
	}
	
	.oauth-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.oauth-image {
		position: relative;
		width: 50px;
		height: 50px;
		border: 1px solid #dddddd;
		border-radius: 50px;
		margin: 0 20px;
		background-color: #ffffff;
	}
	
	.oauth-image image {
		width: 30px;
		height: 30px;
		margin: 10px;
	}
	
	.oauth-image button {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	
	
	page {
		min-height: 100%;
		display: flex;
		font-size: 16px;
	}
	
	/* #ifdef MP-BAIDU */
	page {
		width: 100%;
		height: 100%;
		display: block;
	}
	
	swan-template {
		width: 100%;
		min-height: 100%;
		display: flex;
	}
	
	/* 原生组件模式下需要注意组件外部样式 */
	custom-component {
		width: 100%;
		min-height: 100%;
		display: flex;
	}
	
	/* #endif */
	
	/* #ifdef MP-ALIPAY */
	page {
		min-height: 100vh;
	}
	
	/* #endif */
	
	/* 原生组件模式下需要注意组件外部样式 */
	m-input {
		width: 100%;
		/* min-height: 100%; */
		display: flex;
		flex: 1;
	}
	
	.content {
		display: flex;
		padding: 0px;
		flex: 1;
		flex-direction: column;
		background-color: #efeff4;
	}
	
	.contents {
		display: flex;
		padding: 10px;
		flex: 1;
		flex-direction: column;
		background-color: #efeff4;
	}
	
	.input-group {
		margin-top: 5px;
		padding: 10px;
		background-color: #ffffff;
		margin-top: 20px;
		position: relative;
	}
	
	.input-group::before {
		position: absolute;
		right: 0;
		top: 0;
		left: 0;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		background-color: #c8c7cc;
	}
	
	.input-group::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		background-color: #c8c7cc;
	}
	
	.input-row {
		margin-top: 5px;
		padding: 10px;
		display: flex;
		flex-direction: row;
		position: relative;
		font-size: 22px;
		line-height: 50px;
	}
	
	.input-row .title {
		width: 72px;
		padding-left: 15px;
	}
	
	.input-row.border::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 8px;
		height: 1px;
		content: '';
		-webkit-transform: scaleY(.5);
		transform: scaleY(.5);
		background-color: #c8c7cc;
	}
	
	.btn-row {
		margin-top: 5px;
		padding: 10px;
	}
	
	button.primary {
		background-color: #9A9BF5;
	} 

</style>
