<template>
    <view class="goods posr">
        <image class="img cu-avatar imgw100" :src="img" mode="widthFix"></image>
        <view class="main w100">
            <view class="name py-fnor slh2 fon3 line14">{{name}}</view>
            <view class="jg padding-top-xs py-flar text-bold fonm">{{jg}}</view>
            <view class="flex justify-between fon9 padding-top-xs align-center">
                <view class="flex align-center">
                    <view class="jl round flex justify-around align-center">
                        <image class="jlicon" src="/static/img/index/tupian.svg" mode="widthFix"></image>
                    </view>
                    {{jl}}
                </view>
            </view>
        </view>
    </view>
</template>
<script>
    export default{
        props: {
            img: {
                type: String,
                default: "http://tv.ldzj.cc/public/static/upload/images/goods/2019/01/14/1547452474332334.jpg",
            },
            name: {
                type: String,
                default: "Product title and discription",
            },
            jg: {
                type: String,
                default: "$0",
            },
            jl:{
                type: String,
                default: "500m",
            }
        },
    }
</script>
<style lang="scss">
.jl{
    width:44rpx;
    height: 44rpx;
    background-color: rgba(0,0,0,0.1);
    margin-right: 6rpx;
    .jlicon{
        width:24rpx;
        height: 24rpx;
    }
}
.name{
    font-weight: bold;
    margin-top: 12rpx;
    margin-bottom: 10rpx;
}
.img{
    width: 100%;
    border-top-left-radius: 24rpx;
    border-top-right-radius: 24rpx;
}   
</style>